<div class="container-fluid h-100 p-3">
  <div class="base_object_text issue_object_text_color h-7">
    <h1><%=t 'issue.index.title'%></h1>
  </div>
  <div class="row h-86">
    <div class="col-md p-0">
      <div class="border-blue base_object_index overflow-auto m-0">
        <div id="issue-flash-message"></div>
        <div class="base_object_list margin_top_30">
          <ul class="issue_object_text_color" id="js-issue-record-list">
            <%@issues.each do |issue|%>
              <%= render 'shared/issue_records', issue: issue %>
            <%end%>
          </ul>
        </div>
      </div>
    </div>
  </div>
<%=render 'shared/modal/IssueNew'%>
  <div class="d-flex justify-content-between h-7 mt-2">
    <div class="base_object_text issue_object_text_color d-inline-block">
      <h3 class="text_left padding_left ps-3 m-0"><%=button_tag t('issue.new.title'), 'data-bs-toggle': 'modal', 'data-bs-target': '#IssueNewModal', class: 'issue_hover_text issue_object_text_color text-decoration-none'%></h3>
    </div>
    <div class="base_object_text issue_object_text_color">
      <h3 class="m-0"><%=Date.current.strftime("%Y/%m/%d")%></h3>
    </div>
    <div class="base_object_text issue_object_text_color">
      <h3 class="m-0 pe-3"><%=link_to '戻る', root_path, class: 'issue_object_text_color issue_hover_text text-decoration-none', data: {'turbolinks' => false}%></h3>
    </div>
  </div>
</div>
