<div class="container">
  <div class="base_object_text task_object_text_color">
    <h1><%=t 'task.index.title'%></h1>
  </div>
  <div class="row">
    <div id="task-flash-message">
    </div>
    <div class="col-md-12">
      <div class="border-yellow base_object_index overflow-auto">
        <div class="base_object_list margin_top_30">
          <div class="container">
            <ul class="task_object_text_color list-unstyled" id='js-task-record-list'>
              <%@tasks.each do |task|%>
                <%= render 'shared/task_records', task: task%>
              <%end%>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
<%=render 'shared/modal/TaskNew'%>
  <div class="row">
    <div class="col-md-4">
      <div class="base_object_text task_object_text_color d-inline-block">
        <h3 class="text_left padding_left"><%=button_tag t('task.new.title'), 'data-bs-toggle': 'modal', 'data-bs-target': '#TaskNewModal', class: 'task_hover_text task_object_text_color text-decoration-none'%></h3>
      </div>
    </div>
    <div class="col-md-4">
      <div class="base_object_text task_object_text_color">
        <h3><%=Date.current.strftime("%Y/%m/%d")%></h3>
      </div>
    </div>
    <div class="col-md-4">
      <div class="base_object_text task_object_text_color">
        <h3><%=link_to '戻る', root_path, class: 'task_object_text_color task_hover_text text-decoration-none', data: {'turbolinks' => false}%></h3>
      </div>
    </div>
  </div>
</div>
