<div class="container-fluid h-100 p-0">
  <div class="row h-7">
    <div class="base_object_text task_object_text_color border-yellow border-bottom-0 d-flex align-items-center justify-content-center">
      <h2 class="m-0"><%=t 'task.index.title'%></h1>
    </div>
  </div>
  <div class="row h-86">
    <div class="col-md-3 p-0">
      <div class="border-yellow base_object_index overflow-auto m-0">
        <div class="issues-list">
          <ul class="task_object_text_color ps-1">
            <p class="m-3"><i class="fa fa-file me-2"></i><%= link_to 'すべてのタスク' ,tasks_path, class: "task_hover_text task_object_text_color text-decoration-none #{active_if(action: 'index')}"%></p>
            <% current_user.issues.each do |issue| %>
              <p class="m-3"><i class="fa fa-genderless me-2"></i><%= link_to issue.solution, select_issue_task_path(issue), class: "task_hover_text task_object_text_color text-decoration-none #{active_if(id: issue.id)}" %></p>
            <% end%>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-9 p-0">
      <div class="border-yellow base_object_index overflow-auto m-0 border-start-0" id="js-destroy-plus-btn">
        <%if !@tasks.present?%>
          <%= render 'shared/button/plus_btn_center'%>
        <%end%>
        <div id="task-flash-message">
        </div>
        <div class="base_object_list margin_top_30">
          <div class="container">
            <ul class="task_object_text_color list-unstyled" id='js-task-record-list'>
              <%@tasks.each do |task|%>
                <%= render 'shared/task_records', task: task%>
              <%end%>
              <%if @tasks.present?%>
                <%=render 'shared/button/plus_btn'%>
              <%end%>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%=render 'shared/modal/TaskNew'%>
  <div class="row h-7">
    <div class="d-flex justify-content-between h-7 border-yellow border-top-0 p-2 align-items-center h-100">
      <div class="base_object_text task_object_text_color d-inline-block">
        <h3 class="text_left m-0"><%=button_tag t('task.new.title'), 'data-bs-toggle': 'modal', 'data-bs-target': '#TaskNewModal', class: 'task_hover_text task_object_text_color text-decoration-none'%></h3>
      </div>
      <div class="base_object_text task_object_text_color">
        <h3 class="m-0"><%=Date.current.strftime("%Y/%m/%d")%></h3>
      </div>
      <div class="base_object_text task_object_text_color">
        <h3 class="m-0"><%=link_to '戻る', root_path, class: 'task_object_text_color task_hover_text text-decoration-none', data: {'turbolinks' => false}%></h3>
      </div>
    </div>
  </div>
</div>
