<div class="goal-record-list" id="js-goal-record-<%=goal.id%>">
  <div class="row margin_bottom_20" >
    <%= render 'shared/modal/GoalShow', goal: goal %>
    <div class="d-flex justify-content-between">
      <div class="d-flex align-items-center check-box">
        <div>
          <li id="js-goal-list-<%=goal.id%>">
            <%= render 'shared/button/show', modalname: "#GoalShow", class_name: 'goal', object: goal, id: 'goal-show'%>
          </li>
        </div>
      </div>
      <div class="align-self-center">
        <div class="row">
          <div class="col p-1">
            <div id ='goal-destroy' class="d-inline-block">
              <%= link_to '達成', goal_path(goal), method: 'delete', remote: true, type: 'button', class: 'btn goal-btn', data: { confirm: '本当に目標を達成しましたか?', 'turbolinks' => false}%>
            </div>
          </div>
          <div class="col p-1">
            <div id ='d-inline-block'>
              <%=button_tag '編集', 'data-bs-toggle': 'modal', 'data-bs-target': "#GoalShowModal#{goal.id}", class: 'goal_hover_text btn goal-btn'%>
            </div>
          </div>
          <div class="col p-1">
            <div id ='goal-destroy<%=goal.id%> d-inline-block'>
              <%= link_to '削除', goal_path(goal), method: 'delete', remote: true, type: 'button', class: 'btn goal-btn', data: {'turbolinks' => false, confirm: '本当に削除しますか？'}%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
