<div class="task-record-list" id="js-task-record-<%=task.id%>">
  <div class="row margin_bottom_20" >
    <%= render 'shared/modal/TaskShow', task: task %>
    <div class="d-flex justify-content-between">
      <div class="d-flex align-items-center check-box">
        <%=check_box_tag :check1, true, task.done?, { id: "check-box-#{task.id}" }%>
        <div class="ms-5">
          <li id="js-task-list-<%=task.id%>">
            <%= render 'shared/button/show', modalname: "#TaskShow", class_name: 'task', object: task, id: 'task-show'%>
          </li>
        </div>
      </div>
      <div class="align-self-center">
        <div class="row">
          <div class="col p-1">
            <div id ='d-inline-block'>
              <%=button_tag '編集', 'data-bs-toggle': 'modal', 'data-bs-target': "#TaskShowModal#{task.id}", class: 'task_hover_text btn task-btn'%>
            </div>
          </div>
          <div class="col p-1">
            <div id ='task-destroy<%=task.id%> d-inline-block'>
              <%= link_to '削除', task_path(task), method: 'delete', remote: true, type: 'button', class: 'btn task-btn', data: {'turbolinks' => false, confirm: '本当に削除しますか？'}%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
