<div class="border-white top-page-base-object overflow-auto">
  <div id="user-flash-message">
    <%=render 'shared/flash'%>
  </div>
  <div class="base_object_list margin_top_30">
    <div class="container">
      <div class="base_object_text user_object_text_color">
        <h1>ユーザー</h1>
      </div>
      <div class="base_object_list margin_top_30">
        <ul class="user_object_text_color" id="user-menu-list">
          <%if !logged_in?%>
            <%= render 'users/not_logged_menu' %>
          <%else%>
            <%= render 'users/logged_menu' %>
          <%end%>
        </ul>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/modal/signup' %>
<%= render 'shared/modal/login'%>
