<!-- Modal -->
<div class="modal fade" id="IssueNewModal" tabindex="-1" aria-labelledby="IssueNewModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content issue_modal_border_color">
      <div class="modal-header issue-modal-header">
        <h5 class="modal-title" id="IssueNewModalLabel">新規</h5>
        <!--
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
        -->
      </div>

      <%= form_with model: Issue.new, local: true, html: { autocomplete: 'off' } do |f| %>
        <div class="modal-body">
          <div class="field issue-field">
            <%= f.label :goal_id, Goal.human_attribute_name(:name), class: 'form-label'%>
            <%= f.select :goal_id, goals_select, {include_blank: false} ,class: 'form-control issue-form-control'%>
          </div>
          <div class="field issue-field">
            <%= f.label :name, Issue.human_attribute_name(:name), class: 'form-label'%>
            <%= f.text_field :name, class: 'form-control issue-form-control'%>
          </div>
          <div class="field issue-field">
            <%= f.label :solution, Issue.human_attribute_name(:solution), class: 'form-labl' %>
            <%= f.text_field :solution, class: 'form-control issue-form-control' %>
          </div>
        </div>
        <div class="modal-footer issue-modal-footer">
          <button type="button" class="issue-btn btn" data-bs-dismiss="modal">閉じる</button>
            <%= f.submit '登録', class: 'btn issue-btn'%>
        </div>
      <%end%>
    </div>
  </div>
</div>

