<div class="modal" id="<%=name%>Modal" tabindex="-1" aria-labelledby="<%=name%>ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content <%=name%>_modal_border_color">
    	<div class="modal-body">
        <h1 class="<%=name%>-object-text-color text-center"><%=object.name%><%=message%></h1>
    	</div>
    </div>
  </div>
</div>
