<%= form_with(model: goal, local: true) do |form| %>
  <% if goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(goal.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% goal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class = 'row'>
    <div class="col">
      <%= form.select :deadline_on, {'１ヶ月': 1, '２ヶ月後': 2, '３ヶ月後': 3, '４ヶ月後': 4, '５ヶ月後': 5, '半年後': 6 }, { include_blank: '期限を設定してください' }, { class: 'form-control' } %>
    </div>
    <div class="col">
      <%= form.number_field :quantification, class: 'form-control', placeholder: '具体的な数字' %>
    </div>
    <div class="col">
      <%= form.text_field :unit, class: 'form-control', placeholder: 'kg, 件, 回, 点(単位)' %>
    </div>
    <div class="col">
      <%= form.text_field :what_to_do, class: 'form-control', placeholder: 'やせる, とる, 覚える(何をするのか)' %>
    </div>
    <div class = 'actions'>
      <%= form.submit class: 'btn btn-primary mt-3' %>
    </div>
  </div>
<% end %>
