<div class="container-fluid h-90">
  <div class="row h-7">
    <div class="base_object_text goal_object_text_color border-orange border-bottom-0 d-flex align-items-center justify-content-center">
      <h2 class="m-0"><%=t 'goal.index.title'%></h1>
    </div>
  </div>
  <div class="row h-86">
    <div class="p-0 h-100">
      <div class="border-orange base_object_index overflow-auto m-0" id="js-destroy-plus-btn">
        <%if !@goals.present?%>
          <%= render 'shared/button/plus_btn_center', modal: 'Goal', object: 'goal'%>
        <%end%>
        <div id="goal-flash-message">
          <%if flash.present? && flash.first.second == "目標を削除しました"%>
            <%= render 'shared/flash'%>
          <%end%>
        </div>
        <div class="base_object_list margin_top_30">
          <div class="container-fluid">
            <ul class="goal_object_text_color list-unstyled" id='js-goal-record-list'>
              <%@goals.each do |goal|%>
                <%= render 'shared/goal_records', goal: goal%>
              <%end%>
              <%if @goals.present?%>
                <%=render 'shared/button/plus_btn', modal: 'Goal', object: 'goal'%>
              <%end%>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%=render 'shared/modal/GoalNew'%>
  <div class="row h-7">
    <div class="d-flex justify-content-between h-7 border-orange border-top-0 p-2 align-items-center h-100">
      <div class="base_object_text goal_object_text_color d-inline-block">
        <h3 class="text_left m-0"><%=button_tag t('goal.new.title'), 'data-bs-toggle': 'modal', 'data-bs-target': '#GoalNewModal', class: 'goal_hover_text goal_object_text_color text-decoration-none', 'data-bs-whatever': "#{(0 if action_name == 'index') || model_instance.id}"%></h3>
      </div>
      <div class="base_object_text goal_object_text_color">
        <h3 class="m-0"><%=Date.current.strftime("%Y/%m/%d")%></h3>
      </div>
      <div class="base_object_text goal_object_text_color">
        <h3 class="m-0"><%=link_to '戻る', root_path, class: 'goal_object_text_color goal_hover_text text-decoration-none', data: {'turbolinks' => false}%></h3>
      </div>
    </div>
  </div>
</div>
