<div class='hex-contents'>
  <div id="myHexGrid" class='item'>
    <div class="hexCrop">
      <div class='hexContainer' id='selecter'>
        <% (1..10).zip(selected_goal.subgoals) do |i, subgoal|%>
          <% if !selected_goal.subgoals.offset(9).blank? && i==1 %>
            <%= link_to subgoal_path(selected_goal.subgoals.offset(9)), class: "hex number#{i}" do%>
              <strong  class='hex-font'>実行中</strong>
            <%end%>
          <% elsif selected_goal.subgoals.fourth && i==2 %>
            <%= link_to subgoal_path(selected_goal.subgoals.fourth), class: "hex number#{i}" do%>
              <strong  class='hex-font'>実行中</strong>
            <%end%>
          <% elsif selected_goal.subgoals.second && i==3 %>
            <%= link_to subgoal_path(selected_goal.subgoals.second), class: "hex number#{i}" do%>
              <strong  class='hex-font'>実行中</strong>
            <%end%>
          <% elsif !selected_goal.subgoals.offset(5).blank? && i==4 %>
            <%= link_to subgoal_path(selected_goal.subgoals.offset(5)), class: "hex number#{i}" do%>
              <strong  class='hex-font'>実行中</strong>
            <%end%>
          <% elsif !selected_goal.subgoals.offset(7).blank? && i==5 %>
            <%= link_to subgoal_path(selected_goal.subgoals.offset(7)), class: "hex number#{i}" do%>
              <strong  class='hex-font'>実行中</strong>
            <%end%>
          <% elsif !selected_goal.subgoals.offset(8).blank? && i==6 %>
            <%= link_to subgoal_path(selected_goal.subgoals.offset(8)), class: "hex number#{i}" do%>
              <strong  class='hex-font'>実行中</strong>
            <%end%>
          <% elsif selected_goal.subgoals.third && i==7 %>
            <%= link_to subgoal_path(selected_goal.subgoals.third), class: "hex number#{i}" do%>
              <strong  class='hex-font'>実行中</strong>
            <%end%>
          <% elsif selected_goal.subgoals.first && i==8 %>
            <%= link_to subgoal_path(selected_goal.subgoals.first), class: "hex number#{i}" do%>
              <strong  class='hex-font'>実行中</strong>
            <%end%>
          <% elsif selected_goal.subgoals.fifth && i==9 %>
            <%= link_to subgoal_path(selected_goal.subgoals.fifth), class: "hex number#{i}" do%>
              <strong  class='hex-font'>実行中</strong>
            <%end%>
          <% elsif !selected_goal.subgoals.offset(6).blank? && i==10 %>
            <%= link_to subgoal_path(selected_goal.subgoals.offset(10)), class: "hex number#{i}" do%>
              <strong  class='hex-font'>実行中</strong>
            <%end%>
          <% else %>
            <%= link_to new_subgoal_path, class: "hex number#{i}" do%>
              <strong  class='hex-font'>準備中</strong>
            <%end%>
          <%end%>
        <%end%>
      </div>
    </div>
  </div>
</div>
