<!DOCTYPE html>
<html>
  <head>
    <title>TentativeTitlePdca</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render 'layouts/header' %>
    <div class='row column-control'>
      <div class='col-2 sidebar'>
        <%= render 'layouts/sidebar' %>
      </div>
      <!--main content -->
      <div class='col column-control'>
        <div class="row column-control">
          <div class='main-content'>
            <%= yield %>
          </div>
          <div class='padding-control sub-content-control'>
            <div class='column-control'>
              <%= render 'layouts/footer' %>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
