<!DOCTYPE html>
<html>
  <head>
    <title>TentativeTitlePdca</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body data-controller="<%= controller_name%>" data-action="<%= action_name%>">
    <div class="container-fluid h-100">

      <div class="h-9 container-fluid">
        <div class='row h-100 mb-2'>
          <div class="border-green terminal-object-text-color d-flex align-items-center justify-content-between">
            <p class="m-0">ロゴ</p>
            <p class="m-0">問い合わせ</p>
            <%= link_to '利用規約', t_of_s_path, class: 'terminal-object-text-color text-decoration-none user_hover_text'%>
            <%= link_to 'プライバシーポリシー', p_p_path, class: 'terminal-object-text-color text-decoration-none user_hover_text'%>
          </div>
        </div>
      </div>
      <div class="h-1 container-fluid">
      </div>
      <%= yield %>
    </div>
    <div id="js-top-msg"></div>
    <%if logged_in? && @expired_models.present?%>
      <div id="error_msg"></div>
      <%=render 'shared/modal/error', expired_models: @expired_models%>
		<%else%>
      <div id="error_nil_msg"></div>
    <%end%>
  </body>
</html>
